.animate-bounce {
  animation: bounce 1s infinite;
}

.animate-bounce-200 {
  animation: bounce 1s infinite;
  animation-delay: 200ms;
}

.animate-bounce-400 {
  animation: bounce 1s infinite;
  animation-delay: 400ms;
}